@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(http://example.com/fonts/ubuntu.woff) format('woff');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: "times new roman", times, serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 9vh;
}

#logo-btn {
    display: flex;
    flex-direction: row;
    margin: auto .4vw auto 0;
    text-decoration: none;
}

#logo-btn img {
    height: 7vh;
    align-self: center;
    margin: auto .8vw;
}

#logo-btn>h1 {
    font-size: 3vh;
    color: black;
}

#clock {
    align-self: center;
    margin-right: .9vw;
    font-size: 2.5vh;
}

main {
    background-image: url('../img/park-sunset.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 88vh;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 3vh;

}

footer h2 {
    font-size: 1.5vh;
}

.h-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw;
}

.h-container>#clicker-container {
    background-color: black;
    display: flex;
    flex-direction: row;
    column-gap: .6vw;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-top: 1vh;
    margin-right: .6vw;
    padding: 1.2vh 1vw;
    border-radius: 50px;
    border: solid 1px white;
    color: white;
}

.misbotones {
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    margin-left: 2vw;
}

.botonprueba{
    display: block;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 1vw 2vw;
    border-radius: 30px;
}